<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/projects/functional_testing_framework/src/test/java/io/com_functional_testing/utils/DemoListener.java"><classes><class name="io.com_functional_testing.utils.DemoListener"><methods><include name="addition"/><include name="subtraction"/></methods></class></classes></test></suite>